.container{
    margin: 20px auto;
    padding: 20px;
    width: 1000px;
}
.articleContent img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Prevents images from overflowing */
    height: auto;
  }
  .articleContent figcaption {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 100%; /* Prevents images from overflowing */
    height: auto;
  }